.AboutMeContainer {
    background-color: rgba(0, 0, 0, 0.89);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.AboutMeTexts {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: whitesmoke;
}

.AboutMePicture {
    height: 350px;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
}


@media screen and (max-width: 960px) {
    .AboutMeContainer {
        flex-direction: column;
        height: 850px;
    }

    .AboutMeTexts {
         width: 300px;
    }
    .AboutMePicture {
        height: 250px; 
    }       
}    
