.AboutMeContainer {
    background-color: rgb(23, 23, 23);
    height: 600px;
    display: flex;
    justify-content: center;
    
}

.AboutMeContainer2 {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    max-width: 1400px;
   

}

.AboutMeTexts {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 600px;
    color: whitesmoke;
    margin-left: 80px;
    
    
}

.AboutMePicture {
    height: 350px;
    margin-right: 100px;
    margin-left: 60px;
    box-shadow: 8px 8px black;
}


@media screen and (max-width: 960px) {

    .AboutMeContainer {
        
        justify-content: center;
        
        height: 100%;
        
    }

    .AboutMeContainer2 {
        flex-direction: column;
        height: 100%;
        
        align-items: flex-start;
    }

    .AboutMeTexts {
         
         margin-top: 60px;
         width: 80%;
         margin-left: 40px;
        
         
    }
    .AboutMePicture {
        height: 250px;
        margin: 0px;
        padding-right: 0px; 
        margin-bottom: 50px;
        margin-left: 40px;
        margin-top: 40px;
    }       
}    
