.container {
    height: 600px;
    background-image: url(../../public/background_1.jpg);
    background-size: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;

}   
    
 .container2 {
    height: 600px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    

 }   

    
       
    

.text {
    
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.89);
    
}

.text h1 {
    font-size: 85px;
    margin: 5px;
    margin-left: 0px;
    letter-spacing: 2px
      
}

.text h3 {
    font-size: 30px;
    font-weight: 100;
    margin: 5px;
    margin-left: 0px;
    padding-left: 2px;
    letter-spacing: 3px
}

@media screen and (max-width: 960px) {
  
    .text {
        margin-left: 40px;
    }

    .text h1 {
        font-size: 55px;
        margin: 5px;
        margin-left: 0px;
        width: 300px;
    }
    
    .text h3 {
        font-size: 23px;
        margin-top: 3px;
        letter-spacing: 0px
    }
}    
